body {
    font-family:'Times New Roman', Times, serif;
    background: #F2D5DB;
    padding: 20px;
    max-width: 700px;
    margin: auto;
  }

  nav {
    background-color: #F2AEC1;
    color: #594347;
    font-size:xx-large;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-area {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  input {
    margin: 5px;
    padding: 8px;
    width: 200px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #F2ACC6;
    color: #594347;
    border:ridge;
    border-radius: 5px;
  }
  
  #taskList {
    list-style: circle;
    padding: 5;
  }
  
  .task {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    border: double;
    border-radius: 50px;
  }
  
  .actions button {
    margin-right: 5px;
  }
  
  #status {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: darkmagenta;
  }
  